.header__principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: whitesmoke;
}

.listagem__header {
    list-style: none;
    display: flex;
    gap: 30px;
}

.listagem__header li {
    display: flex;
    align-items: center;
}

.listagem__header a {
    text-decoration: none;
    color: #333;
}

.listagem__header h4 {
    margin: 0;
}

.header__principal .nome {
    margin-right: auto;
    font-size: 1.5em;
}

#form-message {
    display: none;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

#form-message.visible {
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}